* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

input::placeholder {
	font-family: var(--site-main-font);
	font-size: var(--site-main-font-size);
	color: #bdbdbd;
}

textarea::placeholder {
	color: #bdbdbd;
	font-family: var(--site-main-font);
	font-size: var(--site-main-font-size);
}

a {
	text-decoration: none;
	font-size: var(--site-main-font-size);
}



:root {
	--site-main-font: 'Open Sans', sans-serif;
	--site-main-font-size: 14px;
	--site-main-font-weight: 400;
	--site-main-line-height: 20px;
	--site-main-font-color: #86878b;

	--site-additional-font: 'Raleway', sans-serif;
	--site-additional-font-size: 36px;
	--site-additional-font-weight: 400;
	--site-additional-font-color: #212121;

	--header-bg-color: #000000;
	--header-menu-color: #949494;
	--header-menu-active-color: #ff8b38;
	--header-menu-font: var(--site-main-font);

	--title-h1-font: var(--site-additional-font);
	--title-h1-f-w: var(--site-additional-font-weight);
	--title-h1-color: #ffffff;

	--title-h2-font: var(--site-additional-font);
	--title-h2-f-w: var(--site-additional-font-weight);
	--title-h2-color: #212121;

	--title-h3-font: var(--site-main-font);
	--title-h3-f-s: 20px;
	--title-h3-f-w: 700;
	--title-h3-color: #333333;

	--title-h4-font: var(--site-main-font);
	--title-h4-f-s: 14px;
	--title-h4-f-w: 600;
	--title-h4-l-h: 17px;
	--title-h4-color: #212121;



	--delimiter-bg-color: #ff8b38;

	--sub-title-font: var(--site-main-font);
	--sub-title-f-s: var(--site-main-font-size);
	--sub-title-f-w: 400;
	--sub-title-l-h: 20px;
	--sub-title-color: #86878b;
}

html, body {
	font-family: var(--site-main-font);
}

.container {
	padding: 0 140px;
}

.heading {
	margin-top: 108px;
}

.title-h1 {
	padding-top: 33px;
	font-family: var(--title-h1-font);
	font-weight: var(--title-h1-f-w);
	color: var(--title-h1-color);
}


.title-h2 {
	font-family: var(--title-h2-font);
	font-size: var(--site-additional-font-size);
	font-weight: var(--title-h2-f-w);
	color: var(--title-h2-color);
	text-transform: uppercase;
	text-align: center;
}

.title-h3 {
	font-family: var(--title-h3-font);
	font-size: var(--title-h3-f-s);
	font-weight: var(--title-h3-f-w);
	color: var(--title-h3-color);

}

.title-h4 {
	font-family: var(--title-h4-font);
	line-height: var(--title-h4-l-h);
	font-size: var(--title-h4-f-s);
	font-weight: var(--title-h4-f-w);
	color: var(--title-h4-color);
}

.delimiter {
	width: 64px;
	height: 2px;
	background-color: var(--delimiter-bg-color);
}

.sub-title {
	color: var(--sub-title-color);
	font-size: var(--site-main-font-size);
	font-family: var(--sub-title-font);
	font-weight: var(--sub-title-f-w);
	color: var(--sub-title-color);
	text-align: center;
}

.sub-text {
	font-family: var(--sub-title-font);
	font-size: var(--sub-title-f-s);
	font-weight: var(--sub-title-f-w);
	color: var(--sub-title-color);
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
}




/* -----------------H E A D E R----------------- */
.header {
	background-color: var(--header-bg-color);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header__container {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__list {
	font-family: var(--header-menu-font);
	color: var(--header-menu-color);
}

.header__list {
	display: flex;
	list-style: none;
}

.header__link {
	color: #a1a1a1;
	padding: 10px 25px;
	transition: all .1s linear;

}

.header__link:hover {
	color: var(--header-menu-active-color);
}

.header__burger {
	display: none;
}


/* -----------------intro----------------- */
.intro {
	background: #9a9a9a;
}

.intro__panel {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 60px;
}

.intro__logo {
	padding-top: 110px;
}

.introsub-text {
	font-family: var(--site-additional-font);
	font-size: 16px;
	line-height: 23px;
	font-weight: 300;
	color: #d1d1d1;
}

.intro__btn {
	display: inline-block;
	margin-top: 44px;
	margin-bottom: 140px;
	padding: 10px 25px;
	border: 2px solid #fff;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	color: white;
	transition: all .1s linear;
}

.intro__btn:hover {
	background: var(--delimiter-bg-color);
	color: #fff;
}

.custom__section-intro {
	padding: 0;
	max-width: 515px;
	text-align: start;
}

.custom__delimiter-intro {
	margin: 30px 0;
	width: 64px;
	height: 2px;
	background-color: #fff;
}


/* -----------------signup form----------------- */
.signup__title-bg {
	background: #f5f5f5;
	padding: 15px 50px;

}

.signup__form {
	text-align: center;
	margin-top: 140px;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

input {
	border: none;
}


.signup__form-input-wrap {
	padding: 0 38px;
}

.signup__form-input {
	width: 285px;
	height: 31px;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 1, 0.15);
	margin-top: 35px;
}


.btn-primary {
	height: 54px;
	margin-top: 50px;
	background: var(--header-menu-active-color);
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	border: none;
	transition: all .1s linear;
}

.btn-primary:hover {
	background: #333333;
	color: var(--delimiter-bg-color);
	cursor: pointer;
}

/* -----------------brand panel----------------- */
.brand-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	flex-wrap: wrap;
}

.social-media__brand-panel {
	padding-top: 22px;
	max-width: 375px;
}

.brand-panel__text {
	margin-top: 12px;
	margin-bottom: 22px;
}


.brand-panel__icons {
	text-align: center;
}

.brand-panel__icons li {
	display: inline-block;
	list-style-type: none;
	user-select: none;
}

.brand-panel__icons li a {
	padding-top: 30px;
	margin-left: 50px;
}

.brand-panel__icons li a :hover {
	transform: scale(1.3);
}

.brand-panel__icons li img {
	object-fit: contain;
	width: 45px;
	height: 45px;
	transition: all .1s linear;
}



/* -----------------F E A T U R E S----------------- */
.feature__1 {
	background-color: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
}

.tab-sections {
	margin-top: 150px;
	margin-left: 150px;
}

.tab-section__1,
.tab-section__2,
.tab-section__3 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 112px;
	height: 112px;
	background: #333333;
	color: white;
}

.tab-section__1.active {
	background: var(--header-menu-active-color);
	transition: all .1s linear;
}

.tab-section__2 {
	margin-top: 2px;
	width: 112px;
	height: 112px;
	background: #333333;
	transition: all .1s linear;
}

.tab-section__3 {
	margin-top: 2px;
	width: 112px;
	height: 112px;
	background: #333333;
	transition: all .1s linear;
}

.tab-section__1:hover {
	background-color: var(--header-menu-active-color);
	cursor: pointer;
}

.tab-section__2:hover {
	background-color: var(--header-menu-active-color);
	cursor: pointer;
}


.tab-section__3:hover {
	background-color: var(--header-menu-active-color);
	cursor: pointer;
}

.text-section {
	margin-top: 150px;
	margin-left: 100px;
	width: 480px;
}

.text-section-lorem1 {
	margin-top: 52px;
}

.btn-features {
	display: inline-block;
	margin-top: 33px;
	margin-bottom: 63px;
	padding: 12px 25px;

	margin-top: 50px;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
	color: #ffffff;
	background: var(--header-menu-active-color);
	transition: all .1s linear;
}

.btn-features:hover {
	background: #333333;
	color: var(--delimiter-bg-color);
}

.img-section {
	margin-top: 150px;
	margin-left: 100px;
	width: 320px;
	height: 253px;
}

/* -----------------feature 2----------------- */
.feature-sub-list__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.feature-sub-list__picture {
	margin-top: 127px;
	margin-bottom: 166px;
	width: 453px;
	height: 303px;
	background: #9a9a9a;
	box-shadow: 4px 5px 30px #9a9a9a;
}

.feature-title {
	margin-top: 107px;
	padding-left: 100px;
}

.feature-title::after {
	content: "";
	display: block;
	width: 64px;
	height: 2px;
	margin: 30px 0;
	background-color: var(--delimiter-bg-color);
}

.feature-sub-title {
	padding-left: 100px;
	max-width: 500px;
}

.feature2-content {
	padding-top: 42px;
	padding-left: 100px;
	display: flex;
}

.feature2-img {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 1px solid var(--header-menu-active-color);
	margin-right: 30px;
}


.feature2-title-text {
	max-width: 355px;
}

/* -----------------feature 3----------------- */
.feature-picture {
	background: #f5f5f5;
}

.feature-picture__content {
	padding-left: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px 0;
}

.feature-sub-list__picture2 {
	margin-top: 90px;
	margin-right: 125px;
	margin-bottom: 130px;
	width: 453px;
	height: 303px;
	background: #9a9a9a;
	box-shadow: 4px 5px 30px #9a9a9a;
}


/* -----------------O U R  P R O C E S S-----------------*/
.item-about__text {
	max-width: 360px;
	margin-left: 30px;
	margin-bottom: 105px
}

.item-about {
	margin-top: 80px;
	margin-bottom: 105px;
}

.our-process__row {
	display: flex;
	flex-wrap: wrap;
}

.our-process__column {
	text-align: center;
	flex: 0 0 33.333%;
}

.item-about__icon {
	margin: 0 auto;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid var(--delimiter-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

}

.item-about__title {
	margin-bottom: 25px;
}




/* ----------------P R I C I N G -----------------*/
.pricing {
	background-color: #f5f5f5;
}

.pricing__container {
	padding-top: 108px;
	padding-bottom: 96px;
}

.pricing__delimiter {
	margin: 30px auto;
}

.pricing__cards-container {
	padding: 80px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	list-style: none;
	gap: 30px 0;
}

.pricing__card {
	width: 343px;
	text-align: center;
}

.pricing__card-header {
	background-color: #333333;
}

.pricing__card-title {
	padding: 20px 0;
	font-family: var(--site-main-font);
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.pricing__card-cost {
	font-family: var(--site-additional-font);
	font-weight: 700;
	color: #fff;
}

.pricing__card-currency {
	font-size: 35px;
}

.pricing__card-amount {
	font-size: 94px;
}

.pricing__card-caption {
	padding: 0 0 20px 0;
	font-family: var(--site-main-font);
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
	color: var(--header-menu-color);
}

.pricing__card-label {
	min-height: 5px;
	background-color: var(--delimiter-bg-color);
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.pricing__card-label-text {
	padding: 14px 0;
}

.pricing__card-features {
	list-style: none;
}

.pricing__card-feature {
	margin: 0 0 1px 0;
	padding: 15px 0;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #ffffff;
	color: #86878b;
}

/* -----------------T E S T I M O N I A L S -----------------*/

.testimonials {
	margin-top: 108px;
	
}


.testimonials__container {
	padding: 0 170px;
}

.testimonials__panel {
	margin-top: 55px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px 0;
}

.testimonial__text-block {
	background-image: url(images/Testimonials-bg/u229_217.png);
	max-width: 273px;
	padding: 24px 12px;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.testimonial__text {
	font-family: var(--site-main-font);
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: var(--sub-title-color);
}


.testimonial__avatar {
	max-width: 273px;
	margin-top: 8px;
	display: flex;
	align-items: center;
}

.testimonial__img {
	width: 70px;
	height: 70px;
	background: #9a9a9a;
	border-radius: 50%;
}

.testimonial__content {
	padding-left: 15px;
}

.testimonial__avatar-description {
	font-family: var(--site-main-font);
	font-size: 14px;
	font-weight: 400;
	color: var(--header-menu-color);
}

/* -----------------C U S T O M  S E C T I O N -----------------*/
.custom {
	text-align: center;
	margin-top: 96px;
	background: #9a9a9a;
}

.custom__section {
	padding-top: 79px;
}

.custom__title {
	font-family: Raleway;
	font-size: 36px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}

.custom__delimiter {
	margin: 30px auto;
	width: 64px;
	height: 2px;
	background-color: #fff;
}

.custom__sub-title {
	font-family: var(--site-additional-font);
	line-height: 23px;
	font-size: 16px;
	font-weight: 300;
	color: #c2c2c2;
}

.custom__btn {
	display: inline-block;
	margin-top: 33px;
	margin-bottom: 63px;
	padding: 10px 25px;
	border: 2px solid #fff;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	color: white;
	transition: all .1s linear;
}

.custom__btn:hover {
	background: var(--delimiter-bg-color);
	color: #fff;
}

/* -----------------C O N T A C T  U S -----------------*/
.contact-us {
	max-width: 1400px;
}

.contact-us__btn-container {
	text-align: center;
}

.contact-us-form__container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	gap: 10px 60px;
}

.contact-us-form {
	margin-top: 80px;
	
}


.contact-us__input {
	margin-top: 30px;
	padding: 10px;
	width: 527px;
	height: 31px;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 1, 0.15);
}

.contact-us__message {
	border: none;
	outline: none;
	padding-top: 35px;
	width: 527px;
	height: 100%;
	min-height: 100px;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 1, 0.15);
	resize: vertical;
}

.contact-us__btn {
	display: inline-block;
	max-width: 148px;
	margin-top: 43px;
	margin-bottom: 80px;
	padding: 12px 20px;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	color: white;
	background: var(--delimiter-bg-color);
	transition: all .1s linear;
}

.contact-us__btn:hover {
	background: #333333;
	color: var(--delimiter-bg-color);
}


/* -----------------F O O T E R -----------------*/
.footer {
	text-align: center;
	background: #000;
	user-select: none;
}

.footer__social-media {
	padding-top: 20px;
}

.social-icons li {
	display: inline-block;
	list-style-type: none;
	
}
.social-icons li a :hover{
	transform: scale(1.3);
}

.social-icons li img {
	object-fit: contain;
	width: 20px;
	height: 20px;
	transition: all .1s linear;
}
.social-icons li a {
	padding-top: 20px;
	margin-left: 25px;
}

.footer__description {
	padding: 15px;
	color: #515151;
	font-family: 'Open Sans';
	font-size: 12px;
	line-height: 1.2;
	font-weight: 400;
}

/* A D A P T I V E */

@media (max-width: 1320px) {
	.intro__logo {
		text-align: center;
		padding-top: 70px;
	}

	.intro__panel {
		flex-wrap: wrap;
		justify-content:space-between;
		align-items: center;
	}

	.title-h1 {
		padding-top: 15px;
		
		text-align: center;
	}
	.container {
		padding: 0 4rem;
	}
	

	.signup__form {
		margin: 40px 0;
		
	}

	.custom__delimiter-intro {
		margin: 30px auto;
	}
	.custom__section-intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	
	.signup__title-bg {
		background: #f5f5f5;
		padding: 15px 10px
	}

	.intro__btn {
		margin:40px auto;
	}

	.signup__form {
		margin: 40px 0;
		
	}


	.social-media__brand-panel {
		text-align: center;
	}
	.brand-panel {
		justify-content: space-between;
	}


	.brand-panel ul li a {
		margin-left: 15px;
	}

	.brand-panel ul li a:first-of-type {
		margin-left: 15px;
	}

	.brand-panel ul li a img{
		width: 35px;
		height: 35px;
	}


/*            feature1           */
	.feature__1 {
		flex-wrap: wrap;
		padding: .7rem;

	}

	.tab-sections, 
	.text-section,
	.img-section {
		margin: 10vw auto;
		text-align: center;
	}
	
	.text-section {
		padding: 1rem;
	}

	.feature-sub-list__content {
		justify-content: center;
	}


/*              feature2          */
.feature-sub-list__picture {
	margin: 5rem auto;
	margin-bottom: 2rem;
	
	
}

.feature-title {
	margin-top: 3rem;
}

.feature-sub-list__section {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.feature-sub-title, 
.feature2-content,
.feature-title {
	padding-left: 0;
}

.feature2-img {
	height: 40px;
}

.feature2-content {
	margin-bottom: 2rem;
}

.feature-title::after{
	margin: 15px auto;
}


/*             feature 3            */
.feature-picture__content {
	padding: 0;
	align-items: center;
	justify-content: center;
}

.feature-picture__section {
	text-align: center;
	padding: 1rem;
}

.feature-sub-list__picture2 {
	margin-top: 2rem;
	margin-right: 0;
	
}


/*           our process           */
.heading {
	margin-top: 40px;
	padding: 1rem;
}

.item-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.item-about__text {
	margin-left: 10px;
	margin-bottom: 0px;
}
.title-h2 {
	font-size: 36px;
}

.title-h3 {
font-size: 20px;
}


/*           pricing                 */
.pricing__container {
	padding-top: 50px;
}

.pricing__order1 {
order: 1;
}

.pricing__order2 {
	order: 2;
}

.pricing__order3 {
	order: 3;
}

.pricing__cards-container {
	padding: 50px 0 0 0;
	justify-content: space-around;
}

.pricing__delimiter {
	margin: 30px auto;
}
.pricing__card-title {
	font-size: 16px;
}

.pricing__card-amount {
	font-size: 75px;
}

.pricing__card-feature {
	font-size: 15px;
}


/*          testimonials            */
.testimonials {
	margin-top: 0;
}

.testimonials__panel {
	margin-top: 40px;
	justify-content: space-around;
}

.testimonials__container {
	padding: 1rem;
}

.testimonial__text {
	font-size: 14px;
}


/*            custom                 */
.custom {
	margin-top: 50px;
}

.custom__section {
	padding-top: 20px;
}

.custom__title {
	font-size: 30px;
}

/*         contact us                */
.contact-us__input,
.contact-us__message {
width: 75vw;
}

.contact-us-form {
	margin-top: 20px;
}

.contact-us__message {
	padding-left: 8px;
}
}



@media (max-width: 1010px) {
	.intro__logo {
		text-align: center;
		padding-top: 70px;
	}

	.intro__panel {
		justify-content: center;
		align-items: center;
	}

	.title-h1 {
		padding-top: 15px;
		
		text-align: center;
	}
	.container {
		padding: 0 3rem;
	}
	
	.custom__delimiter-intro {
		margin: 30px auto;
	}
	.custom__section-intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	
	.signup__title-bg {
		background: #f5f5f5;
		padding: 15px 10px
	}

	.intro__btn {
		margin:40px auto;
	}

	.signup__form {
		margin: 40px 0;
		
	}


	.social-media__brand-panel {
		text-align: center;
	}
	.brand-panel {
		justify-content: space-between;
	}


	.brand-panel ul li a {
		margin-left: 10px;
	}

	.brand-panel ul li a:first-of-type {
		margin-left: 15px;
	}

	.brand-panel ul li a img{
		width: 35px;
		height: 35px;
	}


/*            feature1           */
	.feature__1 {
		flex-wrap: wrap;
		padding: .7rem;

	}

	.tab-sections, 
	.text-section,
	.img-section {
		margin: 10vw auto;
		text-align: center;
	}
	
	.text-section {
		padding: 1rem;
	}

	.feature-sub-list__content {
		justify-content: center;
	}


/*              feature2          */
.feature-sub-list__picture {
	margin: 5rem auto;
	margin-bottom: 2rem;
	
	
}

.feature-title {
	margin-top: 3rem;
}

.feature-sub-list__section {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.feature-sub-title, 
.feature2-content,
.feature-title {
	padding-left: 0;
}

.feature2-img {
	height: 40px;
}

.feature2-content {
	margin-bottom: 2rem;
}

.feature-title::after{
	margin: 15px auto;
}


/*             feature 3            */
.feature-picture__content {
	padding: 0;
	align-items: center;
	justify-content: center;
}

.feature-picture__section {
	text-align: center;
	padding: 1rem;
}

.feature-sub-list__picture2 {
	margin-top: 2rem;
	margin-right: 0;
}


/*           our process           */
.heading {
	margin-top: 40px;
	padding: 1rem;
}

.item-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.item-about__text {
	margin-left: 10px;
	margin-bottom: 0px;
}
.title-h2 {
	font-size: 36px;
}

.title-h3 {
font-size: 20px;
}


/*           pricing                 */
.pricing__container {
	padding-top: 50px;
}

.pricing__order1 {
order: 1;
}

.pricing__order2 {
	order: 2;
}

.pricing__order3 {
	order: 3;
}

.pricing__cards-container {
	padding: 50px 0 0 0;
	justify-content: space-around;
}

.pricing__delimiter {
	margin: 30px auto;
}
.pricing__card-title {
	font-size: 16px;
}

.pricing__card-amount {
	font-size: 75px;
}

.pricing__card-feature {
	font-size: 15px;
}


/*          testimonials            */
.testimonials {
	margin-top: 0;
}

.testimonials__panel {
	margin-top: 40px;
	justify-content: space-around;
}

.testimonials__container {
	padding: 1rem;
}

.testimonial__text {
	font-size: 14px;
}


/*            custom                 */
.custom {
	margin-top: 50px;
}

.custom__section {
	padding-top: 20px;
}

.custom__title {
	font-size: 30px;
}

/*         contact us                */
.contact-us__input,
.contact-us__message {
width: 75vw;
}

.contact-us-form {
	margin-top: 20px;
}

.contact-us__message {
	padding-left: 8px;
}
}



@media (max-width: 850px) {
	.intro__logo {
		text-align: center;
		padding-top: 70px;
	}

	.intro__panel {
		justify-content: center;
	}

	.title-h1 {
		padding-top: 15px;
		
		text-align: center;
	}
	.container {
		padding: 0 1rem;
	}
	
	.custom__delimiter-intro {
		margin: 30px auto;
	}
	.custom__section-intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	
	.signup__title-bg {
		background: #f5f5f5;
		padding: 15px 10px
	}

	.intro__btn {
		margin:40px auto;
	}

	.signup__form {
		margin: 40px 0;
		
	}

	
	.social-media__brand-panel {
		text-align: center;
	}
	.brand-panel {
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom: 1rem;
	}



/*            feature1           */
	.feature__1 {
		flex-wrap: wrap;

	}

	.tab-sections, 
	.text-section,
	.img-section {
		margin: 10vw auto;
		text-align: center;
	}
	
	.text-section {
		padding: 1rem;
	}

	.feature-sub-list__content {
		justify-content: center;
	}


/*              feature2          */
.feature-sub-list__picture {
	margin: 5rem auto;
	margin-bottom: 2rem;	
}

.feature-title {
	margin-top: 3rem;
}

.feature-sub-list__section {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.feature-sub-title, 
.feature2-content,
.feature-title {
	padding-left: 0;
}

.feature2-img {
	height: 40px;
}

.feature2-content {
	margin-bottom: 2rem;
}

.feature-title::after{
	margin: 15px auto;
}


/*             feature 3            */
.feature-picture__content {
	padding: 0;
	align-items: center;
	justify-content: center;
}

.feature-picture__section {
	text-align: center;
	padding: 1rem;
}

.feature-sub-list__picture2 {
	margin-top: 2rem;
	margin-right: 0;
}


/*           our process           */
.heading {
	margin-top: 40px;
	padding: 1rem;
}

.item-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.item-about__text {
	margin-left: 10px;
	margin-bottom: 0px;
}
.title-h2 {
	font-size: 36px;
}

.title-h3 {
font-size: 20px;
}


/*           pricing                 */
.pricing__container {
	padding-top: 50px;
}

.pricing__order1 {
order: 1;
}

.pricing__order2 {
	order: 2;
}

.pricing__order3 {
	order: 3;
}

.pricing__cards-container {
	padding: 50px 0 0 0;
	justify-content: space-around;
}

.pricing__delimiter {
	margin: 30px auto;
}
.pricing__card-title {
	font-size: 16px;
}

.pricing__card-amount {
	font-size: 75px;
}

.pricing__card-feature {
	font-size: 15px;
}


/*          testimonials            */
.testimonials {
	margin-top: 0;
}

.testimonials__panel {
	margin-top: 40px;
	justify-content: space-around;
}

.testimonials__container {
	padding: 1rem;
}

.testimonial__text {
	font-size: 14px;
}


/*            custom                 */
.custom {
	margin-top: 50px;
}

.custom__section {
	padding-top: 20px;
}

.custom__title {
	font-size: 30px;
}

/*         contact us                */
.contact-us__input,
.contact-us__message {
width: 75vw;
}

.contact-us-form {
	margin-top: 20px;
}

.contact-us__message {
	padding-left: 8px;
}
}

/* B U R G E R   A D A P T I V E */
@media (max-width: 576px) {
	.header__burger {
		position: relative;
		z-index: 3;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.header__burger span {
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all .3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}

	/* H E A D E R   M E N U */
	.header__container {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.header__menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: -100%;
		left: 0;
		background-color: rgb(136, 134, 132);
		padding-top: 70px;
		transition: all .3s ease 0s;

		/* scroll */
		overflow: auto;
	}
	/* active */
	.header__menu.active {
		top: 0;
		
	}
	.header__list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.header__list li {
		margin-bottom: 20px;
	}
	
	.header__link {
		color:#fff;
	}
	.header__link:hover {
		color:var(--delimiter-bg-color);
	}

/* B U R G E R  A C T I V E */
.header__burger.active:before {
	transform: rotate(45deg);
	top: 9px;
}
.header__burger.active:after {
	transform: rotate(-45deg);
	bottom: 9px;
}
.header__burger.active span {
	/* transform: scale(0); */
	display: none;
}

/* B O D Y   L O C K  s c r o l l */
body.lock {
	overflow: hidden;
}

/* C O N T E N T */
.intro__panel {
	padding-top: 60px;
}


	.intro__logo {
		text-align: center;
		padding-top: 40px;
	}

	.title-h1 {
		padding-top: 15px;
		font-size: 20px;
		text-align: center;
	}
	.container {
		padding: 0 1rem;
	}
	
	.custom__delimiter-intro {
		margin: 15px auto;
	}
	.custom__section-intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	
	.signup__title-bg {
		background: #f5f5f5;
		padding: 15px 10px
	}

	.intro__btn {
		margin:20px auto;
	}

	.signup__form {
		margin: 20px 0;
		
	}

	.social-media__brand-panel {
		text-align: center;
	}
	.brand-panel {
		justify-content: center;
	}


	.brand-panel ul li a {
		margin-left: 10px;
	}

	.brand-panel ul li a:first-of-type {
		margin-left: 0px;
	}

	.brand-panel ul li a img{
		width: 25px;
		height: 25px;
	}


/*            feature1           */
	.feature__1 {
		flex-wrap: wrap;

	}

	.tab-sections, 
	.text-section,
	.img-section {
		margin: 10vw auto;
		text-align: center;
	}
	
	.text-section {
		padding: 1rem;
	}


/*              feature2          */
.feature-sub-list__picture {
	margin: 5rem auto;
	margin-bottom: 2rem;
	width: 300px;
}

.feature-title {
	margin-top: 3rem;
}

.feature-sub-list__section {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.feature-sub-title, 
.feature2-content,
.feature-title {
	padding-left: 0;
}

.feature2-img {
	height: 40px;
}

.feature2-content {
	margin-bottom: 2rem;
}

.feature-title::after{
	margin: 15px auto;
}


/*             feature 3            */
.feature-picture__content {
	padding: 0;
	align-items: center;
	justify-content: center;
}

.feature-picture__section {
	text-align: center;
	padding: 1rem;
}

.feature-sub-list__picture2 {
	margin-top: 2rem;
	margin-right: 0;
	width: 300px;
}


/*           our process           */
.heading {
	margin-top: 20px;
	padding: 1rem;
}

.item-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.item-about__text {
	margin-left: 10px;
	margin-bottom: 0px;
}
.title-h2 {
	font-size: 30px;
}

.title-h3 {
font-size: 15px;
}


/*           pricing                 */
.pricing__container {
	padding-top: 50px;
}

.pricing__cards-container {
	padding: 20px 0 0 0;
	justify-content: center;
}

.pricing__delimiter {
	margin: 30px auto;
}
.pricing__card-title {
	font-size: 15px;
}

.pricing__card-amount {
	font-size: 60px;
}

.pricing__card-feature {
	font-size: 14px;
}


/*          testimonials            */
.testimonials {
	margin-top: 0;
}

.testimonials__panel {
	margin-top: 20px;
	justify-content: center;
}

.testimonials__container {
	padding: 1rem;
}

.testimonial__text {
	font-size: 14px;
}


/*            custom                 */
.custom {
	margin-top: 30px;
}

.custom__section {
	padding-top: 20px;
}

.custom__title {
	font-size: 30px;
}

/*         contact us                */
.contact-us__input,
.contact-us__message {
width: 75vw;
}

.contact-us-form {
	margin-top: 20px;
}

.contact-us__message {
	padding-left: 8px;
}
}



@media (max-width: 375px) {
	.intro__logo {
		text-align: center;
		padding-top: 20px;
	}

	.title-h1 {
		padding-top: 10px;
		font-size: 18px;
		text-align: center;
	}

	.introsub-text {
		font-size: 14px;
	}
	.container {
		padding: 0 2rem;
	}
	
	.custom__delimiter-intro {
		margin: 10px auto;
	}
	.custom__section-intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	
	.signup__title-bg {
		background: #f5f5f5;
		padding: 15px 10px
	}

	.intro__btn {
		margin:20px auto;
	}

	.signup__form {
		margin: 20px 0;
		width: 75vw;
	}

	.signup__form-input {
		width: 55vw;
	}

	.social-media__brand-panel {
		text-align: center;
	}
	.brand-panel {
		justify-content: center;
	}


	.brand-panel ul li a {
		margin-left: 10px;
	}

	.brand-panel ul li a:first-of-type {
		margin-left: 0px;
	}

	.brand-panel ul li a img{
		width: 25px;
		height: 25px;
	}


/*            feature1           */
.tab-sections {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 0 .2rem;
}

	.feature__1 {
		flex-wrap: wrap;

	}

	.tab-sections, 
	.text-section,
	.img-section {
		margin: 10vw auto;
		text-align: center;
	}
	
	.text-section {
		padding: 1rem;
	}


/*              feature2          */
.feature-sub-list__picture {
	margin: 5rem auto;
	margin-bottom: 2rem;
}

.feature-title {
	margin-top: 3rem;
}

.feature-sub-list__section {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.feature-sub-title, 
.feature2-content,
.feature-title {
	padding-left: 0;
}

.feature2-img {
	height: 20px;
}

.feature2-content {
	margin-bottom: 2rem;
}

.feature-title::after{
	margin: 15px auto;
}


/*             feature 3            */
.feature-picture__content {
	padding: 0;
	align-items: center;
	justify-content: center;
}

.feature-picture__section {
	text-align: center;
	padding: 1rem;
}

.feature-sub-list__picture2 {
	margin-top: 2rem;
	margin-right: 0;
}


/*           our process           */
.heading {
	margin-top: 20px;
	padding: 1rem;
}

.our-process__row {
	flex-direction: column;
}

.item-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.item-about__text {
	margin-left: 0px;
	margin-bottom: 0px;
}
.title-h2 {
	font-size: 30px;
}

.title-h3 {
font-size: 15px;
}


/*           pricing                 */
.pricing__container {
	padding-top: 50px;
}

.pricing__cards-container {
	padding: 20px 0 0 0;
}

.pricing__delimiter {
	margin: 15px auto;
}
.pricing__card-title {
	font-size: 15px;
}

.pricing__card-amount {
	font-size: 60px;
}

.pricing__card-feature {
	font-size: 14px;
}


/*          testimonials            */
.testimonials {
	margin-top: 0;
}

.testimonials__panel {
	margin-top: 20px;
}

.testimonials__container {
	padding: 1rem;
}

.testimonial__text {
	font-size: 14px;
}


/*            custom                 */
.custom__section {
	padding-top: 20px;
}

.custom__title {
	font-size: 30px;
}

/*         contact us                */
.contact-us__input,
.contact-us__message {
width: 75vw;
}

.contact-us-form {
	margin-top: 20px;
}

.contact-us__message {
	padding-left: 8px;
}

.social-icons a[href="http://www.facebook.com"]{
	margin-left: 0;
}
}


